<div class="dashboard-container">
    <header class="dashboard-header">
        <h1>Dashboard</h1>
    </header>

    <div class="dashboard-main">
        <aside class="sidebar">
            <ul>
                <li *ngFor="let o of sideBarArr" (click)="navFn(o)">
                    <i [ngClass]="o.class"></i>{{o.name}}
                </li>
            </ul>
        </aside>

        <section class="content">
            <div class="charts-container">
                <div class="chart-box">
                    <h3>No. Of Books</h3>
                    <p-chart type="bar" [data]="barChartData" [options]="barChartOptions" style="height: 322px; width: 400px;"></p-chart>
                </div>

                <div class="chart-box">
                    <h3>No. Of Books</h3>
                    <p-chart type="pie" [data]="pieChartData" [options]="pieChartOptions" style="height: 322px; width: 400px;"></p-chart>
                </div>
            </div>

            <div class="issued-books-summary">
                <h3>Issued Book Summary</h3>
                <table>
                    <thead>
                        <tr>
                            <th>ISBN</th>
                            <th>Book Name</th>
                            <th>Author</th>
                            <th>Roll No.</th>
                            <th>Name</th>
                            <th>Issued On</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let book of issuedBooks">
                        <tr>
                            <td>{{ book.isbnNo }}</td>
                            <td>{{ book.bokName}}</td>
                            <td>{{ book.authr }}</td>
                            <td>{{book.prsnRollNo}}</td>
                            <td>{{ book.prsnName }}</td>
                            <td>{{ book.issuedOn|date:'dd-MMM-yyyy' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>